# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/solution
/server/sendmail
/server/temp
/server/autoset
/server/bin
/server/conf
/server/error
/server/icons
/server/logs
/server/modules
/unins000.exe
/vc_redist.x64.exe
/AutoSet.exe
/AutoSet.ini
/AutoSet.url
/AutoSetBackup.exe
/AutoSetCafe.url
/AutoSetFacebook.url
/unins000.dat
/server/MySQL5/bin
/server/MySQL5/share
/server/MySQL5/COPYING
/server/MySQL5/COPYING.LESSER
/server/MySQL5/COPYING.thirdparty
/server/MySQL5/CREDITS
/server/MySQL5/EXCEPTIONS-CLIENT
/server/MySQL5/my.ini
/server/MySQL5/my-huge.ini
/server/MySQL5/my-innodb-heavy-4G.ini
/server/MySQL5/my-large.ini
/server/MySQL5/my-medium.ini
/server/MySQL5/my-small.ini
/server/MySQL5/README
/server/MySQL5/wsrep.ini
